In [169]:
import pandas as pd
import numpy as np
import operator as op

In [108]:
def date_from_line(line):
    """returns DDMMYYYY from line in data file"""
    if int(line['Day'])<10:
        day='0'+str(line['Day'])
    else:
        day=str(line['Day'])
    if int(line[1])<10:
        month='0'+str(line['Month'])
    else:
        month=str(line['Month'])
    return day+month+str(line['Year'])

In [109]:
df=pd.read_csv("../00010001_model_data.csv")

In [67]:
df.dtypes

Year                      int64
Month                     int64
Day                       int64
Hours                     int64
Minute                    int64
Second                    int64
WeekDay                   int64
Timestamp                 int64
JourneyPatternID          int64
VehicleJourneyID          int64
StopID                    int64
Temperature (C)           int64
Visibility (km)          object
Wind Speed (km/h)        object
Cumulative Time Taken     int64
dtype: object

In [68]:
df.shape # no duplicates or constant columns in df

(33820, 15)

In [69]:
df.head(10)

,Year,Month,Day,Hours,Minute,Second,WeekDay,Timestamp,JourneyPatternID,VehicleJourneyID,StopID,Temperature (C),Visibility (km),Wind Speed (km/h),Cumulative Time Taken
0,2012,11,6,8,59,2,1,1352192342,10001,5461,226,7,10,29.6,0
1,2012,11,6,9,4,41,1,1352192681,10001,5461,231,8,10,31.5,339
2,2012,11,6,9,6,22,1,1352192782,10001,5461,1641,8,10,31.5,440
3,2012,11,6,9,7,58,1,1352192878,10001,5461,1642,8,10,31.5,536
4,2012,11,6,9,15,42,1,1352193342,10001,5461,47,8,10,31.5,1000
5,2012,11,6,9,18,1,1,1352193481,10001,5461,49,7,10,27.8,1139
6,2012,11,6,9,19,42,1,1352193582,10001,5461,51,7,10,27.8,1240
7,2012,11,6,9,22,21,1,1352193741,10001,5461,265,7,10,27.8,1399
8,2012,11,6,9,24,43,1,1352193883,10001,5461,271,7,10,27.8,1541
9,2012,11,6,9,29,2,1,1352194142,10001,5461,340,7,10,27.8,1800

In [70]:
all_dates=[]
for index, row in df.iterrows():
    date=date_from_line(row)
#     df['DateColumn']=date jan 31 for all lines of data??
    if date not in all_dates: # list of all dates
        all_dates.append(date)

,Year,Month,Day,Hours,Minute,Second,WeekDay,Timestamp,JourneyPatternID,VehicleJourneyID,StopID,Temperature (C),Visibility (km),Wind Speed (km/h),Cumulative Time Taken
0,2012,11,6,8,59,2,1,1352192342,10001,5461,226,7,10,29.6,0
1,2012,11,6,9,4,41,1,1352192681,10001,5461,231,8,10,31.5,339
2,2012,11,6,9,6,22,1,1352192782,10001,5461,1641,8,10,31.5,440
3,2012,11,6,9,7,58,1,1352192878,10001,5461,1642,8,10,31.5,536
4,2012,11,6,9,15,42,1,1352193342,10001,5461,47,8,10,31.5,1000
5,2012,11,6,9,18,1,1,1352193481,10001,5461,49,7,10,27.8,1139
6,2012,11,6,9,19,42,1,1352193582,10001,5461,51,7,10,27.8,1240
7,2012,11,6,9,22,21,1,1352193741,10001,5461,265,7,10,27.8,1399
8,2012,11,6,9,24,43,1,1352193883,10001,5461,271,7,10,27.8,1541
9,2012,11,6,9,29,2,1,1352194142,10001,5461,340,7,10,27.8,1800

In [71]:
date_vjids_containing_start_stop_id={} # key:value is date:[vjids containing stop 226]
for item, row in df.iterrows():
    date=date_from_line(row)
    if date not in date_vjids_containing_start_stop_id:
        date_vjids_containing_start_stop_id[date]=[] # creating dictionary entry for date

for date in date_vjids_containing_start_stop_id: 
    for item, row in df.iterrows():
        if date_from_line(row)==date and row['VehicleJourneyID'] not in date_vjids_containing_start_stop_id[date] and row['StopID']==226:
            date_vjids_containing_start_stop_id[date].append(row['VehicleJourneyID'])

06112012 [5461, 5494, 5444, 5425, 5482, 5463, 5496, 5514, 5446, 5427, 5484, 5465, 5498, 5516, 5486, 5467, 5500, 5518, 5450, 5488, 5469, 5502, 5452, 5433, 5490, 5471, 5504, 5454, 5435, 5473, 5506, 5456, 5437, 5475]
07112012 [5494, 5512, 5444, 5425, 5482, 5463, 5496, 5514, 5446, 5427, 5484, 5465, 5498, 5516, 5448, 5486, 5467, 5500, 5518, 5450, 5431, 5488, 5469, 5502, 5490, 5471, 5504, 5454, 5435, 5473, 5506, 5456, 5437, 5475]
08112012 [5461, 5494, 5512, 5444, 5425, 5482, 5463, 5496, 5514, 5446, 5427, 5484, 5465, 5498, 5516, 5448, 5486, 5467, 5500, 5518, 5450, 5431, 5488, 5469, 5502, 5520, 5452, 5490, 5504, 5454, 5435, 5473, 5506, 5456, 5437, 5475]
09112012 [5461, 5512, 5444, 5425, 5482, 5463, 5496, 5514, 5446, 5427, 5484, 5465, 5498, 5516, 5448, 5429, 5486, 5467, 5450, 5469, 5452, 5454, 5435, 5473, 5506, 5456, 5437, 5475]
10112012 [12138, 12164, 12123, 12155, 12140, 12166, 12125, 12185, 12157, 12127, 12176, 12170, 12129, 12189, 12161, 12146, 12172, 12131, 12191, 12148, 12180, 12133, 12193, 12150, 12182, 12135, 12195, 12152]
11112012 [16367, 16354, 16382, 16369, 16356, 16384, 16371, 16358, 16386, 16373, 16360, 16388, 16375, 16362, 16390, 16377, 16364, 16392, 16379]
12112012 [5461, 5494, 5444, 5425, 5482, 5463, 5496, 5514, 5446, 5427, 5484, 5465, 5498, 5516, 5448, 5429, 5486, 5467, 5518, 5450, 5431, 5488, 5502, 5520, 5433, 5490, 5504, 5454, 5435, 5473, 5506, 5456, 5437, 5475]
13112012 [5461, 5494, 5512, 5444, 5425, 5482, 5496, 5514, 5446, 5427, 5484, 5465, 5498, 5516, 5448, 5429, 5486, 5467, 5500, 5518, 5450, 5431, 5488, 5469, 5502, 5520, 5452, 5504, 5454, 5435, 5473, 5506, 5456, 5437, 5475]
14112012 [5461, 5494, 5512, 5444, 5425, 5482, 5463, 5496, 5514, 5446, 5427, 5484, 5498, 5516, 5448, 5429, 5486, 5467, 5500, 5450, 5431, 5488, 5520, 5504, 5454, 5435, 5506, 5456, 5437, 5475]
15112012 [5461, 5494, 5444, 5425, 5482, 5496, 5514, 5446, 5427, 5484, 5465, 5498, 5516, 5448, 5486, 5467, 5500, 5518, 5450, 5502, 5520, 5490, 5471, 5504, 5454, 5473, 5506, 5456, 5437, 5475]
16112012 [5475, 5461, 5494, 5512, 5444, 5425, 5482, 5463, 5496, 5514, 5446, 5427, 5484, 5465, 5498, 5516, 5448, 5429, 5486, 5518, 5431, 5488, 5469, 5520, 5433, 5471, 5504, 5454, 5435, 5473, 5506, 5456, 5437]
17112012 [12153, 12138, 12164, 12123, 12155, 12140, 12166, 12125, 12185, 12157, 12142, 12174, 12168, 12127, 12187, 12159, 12176, 12170, 12129, 12189, 12161, 12146, 12178, 12172, 12131, 12191, 12148, 12180, 12133, 12193, 12150, 12182, 12135, 12195, 12152]
18112012 [15672, 15659, 15687, 15646, 15674, 15661, 15689, 15648, 15676, 15663, 15691, 15650, 15678, 15665, 15693, 15652, 15680, 15667, 15695, 15654, 15682, 15669, 15697, 15656, 15684, 15671]
19112012 [4784, 4817, 4835, 4748, 4805, 4786, 4819, 4837, 4769, 4750, 4807, 4821, 4771, 4752, 4809, 4790, 4823, 4841, 4754, 4811, 4825, 4775, 4756, 4794, 4827, 4777, 4796, 4829, 4779, 4760, 4798]
20112012 [4784, 4817, 4835, 4748, 4805, 4786, 4819, 4837, 4769, 4750, 4807, 4821, 4839, 4771, 4752, 4809, 4790, 4823, 4841, 4754, 4811, 4825, 4756, 4813, 4794, 4827, 4777, 4758, 4796, 4829, 4779, 4760, 4798]
21112012 [4784, 4817, 4835, 4767, 4748, 4805, 4786, 4819, 4837, 4769, 4750, 4807, 4788, 4839, 4771, 4752, 4809, 4823, 4841, 4773, 4754, 4811, 4825, 4843, 4775, 4756, 4813, 4827, 4777, 4758, 4796, 4829, 4779, 4760, 4798]
22112012 [4784, 4817, 4835, 4767, 4748, 4805, 4786, 4819, 4837, 4769, 4750, 4807, 4788, 4821, 4839, 4771, 4752, 4809, 4790, 4823, 4841, 4773, 4811, 4825, 4813, 4794, 4777, 4758, 4796, 4829, 4779, 4760, 4798]
23112012 [4784, 4817, 4835, 4767, 4748, 4805, 4819, 4837, 4769, 4750, 4807, 4788, 4821, 4839, 4771, 4752, 4809, 4825, 4813, 4794, 4827, 4777, 4758, 4796, 4829, 4779, 4760, 4798]
24112012 [11433, 11418, 11444, 11403, 11435, 11420, 11446, 11405, 11465, 11437, 11422, 11454, 11448, 11407, 11467, 11456, 11450, 11409, 11469, 11441, 11458, 11452, 11411, 11428, 11460, 11473, 11430, 11415, 11475, 11432]
25112012 [15732, 15760, 15719, 15747, 15734, 15762, 15749, 15736, 15764, 15751, 15738, 15725, 15768, 15727, 15755, 15742, 15770, 15729, 15757, 15744]
26112012 [4823, 4874, 4806, 4787, 4844, 4825, 4858, 4876, 4808, 4789, 4846, 4827, 4860, 4878, 4810, 4791, 4848, 4829, 4862, 4880, 4812, 4793, 4850, 4831, 4864, 4882, 4866, 4816, 4797, 4835, 4868, 4818, 4799, 4837]
27112012 [4856, 4874, 4787, 4844, 4825, 4858, 4876, 4808, 4789, 4846, 4827, 4860, 4878, 4810, 4791, 4848, 4829, 4862, 4880, 4812, 4793, 4831, 4864, 4882, 4795, 4866, 4816, 4797, 4835, 4868, 4818, 4799, 4837]
28112012 [4823, 4856, 4874, 4806, 4787, 4858, 4876, 4808, 4789, 4846, 4860, 4878, 4791, 4829, 4880, 4812, 4850, 4831, 4864, 4866, 4816, 4797, 4835, 4868, 4818, 4837]
29112012 [4823, 4856, 4787, 4844, 4825, 4858, 4876, 4808, 4846, 4827, 4860, 4878, 4810, 4848, 4829, 4862, 4880, 4812, 4793, 4850, 4864, 4814, 4852, 4866, 4816, 4835, 4868, 4818, 4799, 4837]
30112012 [4856, 4787, 4844, 4858, 4808, 4789, 4860, 4878, 4791, 4848, 4862, 4880, 4793, 4831, 4866, 4816, 4797, 4835, 4868, 4818, 4799, 4837]
01012013 [15594, 15622, 15581, 15609, 15596, 15624, 15583, 15611, 15598, 15626, 15585, 15613, 15600, 15628, 15587, 15615, 15602, 15630, 15589, 15617, 15604, 15632, 15591, 15619, 15606]
02012013 [4644, 4677, 4608, 4665, 4646, 4679, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4683, 4633, 4614, 4671, 4652, 4685, 4703, 4635, 4616, 4673, 4654, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
03012013 [4644, 4677, 4695, 4627, 4608, 4665, 4646, 4679, 4697, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4650, 4683, 4701, 4633, 4614, 4671, 4652, 4685, 4703, 4616, 4673, 4654, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
04012013 [4644, 4677, 4695, 4627, 4608, 4665, 4646, 4679, 4697, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4650, 4683, 4701, 4633, 4614, 4671, 4652, 4685, 4635, 4616, 4673, 4654, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
05012013 [11262, 11247, 11273, 11232, 11264, 11249, 11275, 11294, 11266, 11251, 11283, 11277, 11236, 11296, 11268, 11253, 11285, 11279, 11298, 11270, 11287, 11281, 11300, 11257, 11289, 11242, 11302, 11259, 11291, 11244, 11304, 11261]
06012013 [15594, 15622, 15581, 15609, 15596, 15624, 15583, 15611, 15598, 15626, 15585, 15613, 15600, 15628, 15587, 15615, 15602, 15630, 15589, 15617, 15604, 15632, 15591, 15619, 15606]
07012013 [4644, 4677, 4627, 4608, 4665, 4646, 4679, 4697, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4650, 4683, 4701, 4633, 4614, 4671, 4652, 4685, 4703, 4616, 4673, 4654, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
08012013 [4644, 4677, 4695, 4627, 4608, 4665, 4679, 4697, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4683, 4701, 4633, 4614, 4671, 4652, 4685, 4703, 4635, 4616, 4673, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
09012013 [4677, 4695, 4627, 4608, 4665, 4679, 4629, 4610, 4667, 4681, 4699, 4631, 4612, 4669, 4683, 4701, 4633, 4614, 4671, 4685, 4635, 4616, 4673, 4618, 4656, 4689, 4639, 4620, 4658]
10012013 [4644, 4677, 4695, 4627, 4608, 4665, 4646, 4679, 4697, 4629, 4667, 4681, 4699, 4631, 4669, 4650, 4683, 4701, 4633, 4671, 4652, 4685, 4635, 4673, 4654, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
11012013 [4644, 4677, 4695, 4627, 4665, 4646, 4679, 4629, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4683, 4701, 4633, 4614, 4652, 4685, 4616, 4654, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
12012013 [11230, 11273, 11232, 11264, 11249, 11275, 11234, 11294, 11266, 11251, 11283, 11277, 11236, 11296, 11253, 11285, 11279, 11298, 11287, 11281, 11240, 11300, 11257, 11289, 11242, 11302, 11259, 11291, 11244, 11304, 11261]
13012013 [15594, 15622, 15581, 15609, 15596, 15624, 15583, 15598, 15626, 15585, 15613, 15600, 15628, 15587, 15602, 15630, 15589, 15617, 15604, 15632, 15591, 15619, 15606]
14012013 [4644, 4677, 4695, 4627, 4608, 4665, 4646, 4679, 4697, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4650, 4683, 4701, 4633, 4614, 4671, 4652, 4703, 4616, 4673, 4654, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
15012013 [4644, 4677, 4627, 4608, 4665, 4646, 4679, 4697, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4701, 4633, 4614, 4671, 4652, 4703, 4635, 4673, 4654, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
16012013 [4677, 4695, 4627, 4665, 4646, 4679, 4697, 4629, 4667, 4648, 4681, 4699, 4631, 4669, 4650, 4683, 4701, 4633, 4685, 4635, 4673, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
17012013 [4644, 4677, 4695, 4627, 4665, 4646, 4679, 4697, 4629, 4667, 4648, 4681, 4699, 4669, 4683, 4633, 4671, 4685, 4616, 4673, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
18012013 [4644, 4677, 4627, 4665, 4646, 4679, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4669, 4650, 4683, 4701, 4633, 4614, 4671, 4703, 4635, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
19012013 [11230, 11262, 11247, 11273, 11232, 11264, 11249, 11275, 11234, 11294, 11266, 11251, 11283, 11277, 11296, 11268, 11253, 11285, 11279, 11238, 11270, 11255, 11287, 11240, 11300, 11257, 11289, 11242, 11302, 11259, 11291, 11244, 11304, 11261]
20012013 [15607, 15594, 15622, 15581, 15609, 15596, 15624, 15583, 15611, 15598, 15626, 15585, 15613, 15600, 15587, 15615, 15602, 15630, 15589, 15617, 15604, 15632, 15591, 15619, 15606]
21012013 [4644, 4627, 4608, 4665, 4646, 4679, 4697, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4650, 4683, 4701, 4633, 4614, 4671, 4652, 4685, 4703, 4635, 4673, 4654, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
22012013 [4644, 4677, 4695, 4627, 4608, 4665, 4646, 4679, 4697, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4650, 4683, 4701, 4633, 4671, 4652, 4685, 4703, 4616, 4673, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
23012013 [4644, 4677, 4695, 4627, 4608, 4665, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4650, 4683, 4701, 4633, 4614, 4652, 4685, 4703, 4616, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
24012013 [4644, 4677, 4627, 4608, 4665, 4646, 4679, 4697, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4701, 4633, 4671, 4635, 4616, 4673, 4687, 4618, 4656, 4689, 4639, 4620, 4658]
25012013 [4695, 4627, 4608, 4665, 4646, 4679, 4697, 4629, 4610, 4667, 4648, 4681, 4612, 4650, 4683, 4614, 4671, 4652, 4685, 4703, 4635, 4616, 4673, 4687, 4618, 4656, 4689, 4639, 4620, 4658]
26012013 [11262, 11247, 11273, 11232, 11264, 11249, 11275, 11234, 11266, 11251, 11283, 11277, 11236, 11296, 11253, 11285, 11279, 11238, 11298, 11270, 11255, 11287, 11281, 11240, 11300, 11257, 11289, 11242, 11302, 11259, 11291, 11244, 11304, 11261]
27012013 [15579, 15594, 15622, 15581, 15609, 15596, 15624, 15583, 15598, 15626, 15585, 15613, 15600, 15628, 15587, 15615, 15602, 15630, 15589, 15617, 15604, 15632, 15591, 15619, 15606]
28012013 [4644, 4677, 4695, 4665, 4646, 4679, 4697, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4650, 4683, 4701, 4633, 4614, 4671, 4652, 4685, 4703, 4673, 4654, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
29012013 [4627, 4665, 4646, 4679, 4697, 4629, 4610, 4667, 4648, 4681, 4699, 4631, 4612, 4669, 4650, 4683, 4633, 4614, 4671, 4652, 4685, 4703, 4635, 4616, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
30012013 [4644, 4677, 4695, 4627, 4608, 4629, 4610, 4635, 4654, 4687, 4637, 4618, 4656, 4689, 4639, 4620, 4658]
31012013 [4677, 4608, 4665, 4646, 4679, 4697]

In [155]:
df.shape

(33820, 15)

In [156]:
df_new=pd.DataFrame(columns=list(df)) # dataframe containing data from routes starting at stop 226, the known route starting point
for item, row in df.iterrows():
    if row['VehicleJourneyID'] in date_vjids_containing_start_stop_id[date_from_line(row)]:
        df_new=df_new.append(row, ignore_index=True)

In [157]:
df_new.shape

(29527, 15)

In [182]:
# {stopID:[CTT for all journeys]}
stops_and_times={}
for item, row in df_new.iterrows():
    if row['StopID'] not in stops_and_times:
        stops_and_times[row['StopID']]=[row['Cumulative Time Taken']]
    else:
        stops_and_times[row['StopID']].append(row['Cumulative Time Taken'])

# for key in stops_and_times:
#     print(key, stops_and_times[key])

In [183]:
# {stopID: avg CTT}
average_stop_times={}
for stop in stops_and_times:
    average_stop_times[stop]=np.mean(stops_and_times[stop])

In [184]:
sorted_average_stop_times = sorted(average_stop_times.items(), key=op.itemgetter(1))
# for key in sorted_average_stop_times:
#     print(key)

In [185]:
for item, row in df_new.iterrows():
    if row['StopID']==380 and row['Cumulative Time Taken']==min(stops_and_times[380]):
        print(row['VehicleJourneyID'], date_from_line(row))

4689 02012013

In [186]:
# {stopID:number of hits at stop}
stop_hits={}
for stop in stops_and_times:
    stop_hits[stop]=len(stops_and_times[stop])

sorted_hit_frequency = sorted(stop_hits.items(), key=op.itemgetter(1))
sorted_hit_frequency.reverse()
# for pair in sorted_hit_frequency:
#     print(pair)

In [187]:
# {stopID:max CTT}
max_stop_times={}
for stop in stops_and_times:
    max_stop_times[stop]=max(stops_and_times[stop])

sorted_max_times = sorted(max_stop_times.items(), key=op.itemgetter(1))
# for pair in sorted_max_times:
#     print(pair)

In [191]:
df_new.describe(include='all').T

                       count unique         top   freq
Year                   29527      2        2013  16091
Month                  29527      2           1  16091
Day                    29527     31           8   1416
Hours                  29527     17          12   2856
Minute                 29527     60           0    817
Second                 29527     60           5    982
WeekDay                29527      7           1   5310
Timestamp              29527  29078  1358852828      3
JourneyPatternID       29527      1       10001  29527
VehicleJourneyID       29527    342        4665    446
StopID                 29527     42         226   1696
Temperature (C)        29527     20           7   2822
Visibility (km)        29527     28          10  24294
Wind Speed (km/h)      29527     48        24.1   2100
Cumulative Time Taken  29527   3154           0   1696

In [201]:
df_new[['StopID', 'Cumulative Time Taken']] = df_new[['StopID', 'Cumulative Time Taken']].astype(int)
df_new.dtypes

Year                     object
Month                    object
Day                      object
Hours                    object
Minute                   object
Second                   object
WeekDay                  object
Timestamp                object
JourneyPatternID         object
VehicleJourneyID         object
StopID                    int32
Temperature (C)          object
Visibility (km)          object
Wind Speed (km/h)        object
Cumulative Time Taken     int32
dtype: object

In [274]:
cols=['StopID']+list(df_new.describe().T)
b=pd.DataFrame(columns=cols)
new_rows=[]
for stop in stop_hits:
    new_stop_df=df_new[df_new['StopID']==stop]
    new_stop_df['StopID']=new_stop_df['StopID'].astype('category')
    a=new_stop_df.describe().T
    stop_data=[stop]
    for heading in list(a):
        stop_data.append(a[heading].values[0])
    new_rows.append(pd.DataFrame(stop_data))
    
#     b=pd.DataFrame(columns=cols)
#     c=[stop]+list(new_stop_df.describe().T)
#     pd.concat([b,c])

C:\Users\Conor\Anaconda3\envs\summer_project_windows_0_0.yml\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [275]:
for row in new_rows:
    print(row)

        0
0   226.0
1  1696.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
            0
0  231.000000
1  938.000000
2  268.176972
3   53.182542
4  120.000000
5  228.500000
6  261.000000
7  301.000000
8  521.000000
             0
0  1641.000000
1   285.000000
2   366.515789
3    58.683718
4   219.000000
5   323.000000
6   360.000000
7   402.000000
8   501.000000
             0
0  1642.000000
1   413.000000
2   421.133172
3    84.327086
4   258.000000
5   363.000000
6   405.000000
7   461.000000
8  1198.000000
             0
0    47.000000
1   686.000000
2   939.494169
3   194.238763
4   480.000000
5   799.000000
6   921.000000
7  1060.000000
8  1878.000000
             0
0    49.000000
1   964.000000
2  1044.821577
3   205.522350
4   539.000000
5   902.000000
6  1040.000000
7  1159.000000
8  2060.000000
             0
0    51.000000
1   521.000000
2  1168.786948
3   196.440837
4   602.000000
5  1039.000000
6  1161.000000
7  1290.000000
8  2323.000000
             0
0   265.000000
1  1332.000000
2  1293.629880
3   236.693204
4   638.000000
5  1139.000000
6  1299.000000
7  1440.000000
8  2499.000000
             0
0   271.000000
1  1572.000000
2  1415.306616
3   277.406207
4   283.000000
5  1230.750000
6  1437.000000
7  1600.000000
8  2461.000000
             0
0   340.000000
1  1537.000000
2  1636.941444
3   309.312606
4   218.000000
5  1441.000000
6  1658.000000
7  1847.000000
8  3039.000000
             0
0   350.000000
1   730.000000
2  1877.291781
3   285.375831
4  1040.000000
5  1701.000000
6  1879.500000
7  2059.000000
8  3343.000000
             0
0   352.000000
1   869.000000
2  2019.920598
3   314.009803
4  1138.000000
5  1840.000000
6  2021.000000
7  2204.000000
8  4478.000000
             0
0   353.000000
1   887.000000
2  2111.625705
3   319.792045
4  1040.000000
5  1921.500000
6  2120.000000
7  2301.500000
8  3639.000000
             0
0   354.000000
1  1128.000000
2  2116.523936
3   359.248829
4  1081.000000
5  1900.000000
6  2140.000000
7  2339.000000
8  3977.000000
             0
0   355.000000
1   645.000000
2  2221.787597
3   326.776140
4  1301.000000
5  2019.000000
6  2239.000000
7  2421.000000
8  3560.000000
             0
0   380.000000
1  1173.000000
2  2708.635124
3   383.006520
4  1599.000000
5  2466.000000
6  2780.000000
7  3002.000000
8  4433.000000
            0
0  227.000000
1  562.000000
2  143.619217
3   28.606885
4   76.000000
5  121.000000
6  141.000000
7  161.000000
8  247.000000
            0
0  230.000000
1  194.000000
2  189.814433
3   35.963663
4  119.000000
5  161.000000
6  183.500000
7  215.750000
8  319.000000
             0
0   213.000000
1   989.000000
2   487.390293
3   113.463844
4   260.000000
5   418.000000
6   462.000000
7   539.000000
8  1481.000000
             0
0   119.000000
1   483.000000
2   702.055901
3   157.215049
4   379.000000
5   601.000000
6   683.000000
7   797.500000
8  1338.000000
             0
0    44.000000
1   481.000000
2   752.677755
3   170.027958
4   115.000000
5   640.000000
6   738.000000
7   845.000000
8  1741.000000
             0
0    48.000000
1   674.000000
2   989.636499
3   197.513691
4   480.000000
5   860.000000
6   978.000000
7  1100.000000
8  1999.000000
             0
0    52.000000
1   582.000000
2  1199.577320
3   223.521865
4   640.000000
5  1059.000000
6  1188.000000
7  1340.000000
8  2199.000000
             0
0   356.000000
1  1201.000000
2  2271.333888
3   360.524124
4  1161.000000
5  2061.000000
6  2299.000000
7  2501.000000
8  4094.000000
             0
0   357.000000
1  1079.000000
2  2350.972196
3   373.105706
4  1202.000000
5  2150.500000
6  2380.000000
7  2587.000000
8  4166.000000
             0
0   374.000000
1  1127.000000
2  2576.991127
3   369.423517
4  1359.000000
5  2357.500000
6  2582.000000
7  2809.000000
8  4348.000000
            0
0  229.000000
1  542.000000
2   94.241697
3   20.830241
4   21.000000
5   80.000000
6   98.000000
7  102.000000
8  164.000000
             0
0  4432.000000
1   346.000000
2   619.540462
3   144.022401
4   321.000000
5   517.250000
6   598.500000
7   700.000000
8  1078.000000
             0
0    45.000000
1   828.000000
2   794.659420
3   165.703491
4   440.000000
5   680.000000
6   779.000000
7   883.250000
8  1459.000000
             0
0   351.000000
1   924.000000
2  1962.183983
3   316.640537
4  1040.000000
5  1778.750000
6  1969.000000
7  2157.250000
8  4339.000000
             0
0   390.000000
1   668.000000
2  2459.556886
3   363.923911
4  1280.000000
5  2241.000000
6  2478.000000
7  2681.000000
8  3825.000000
             0
0   372.000000
1   559.000000
2  2502.822898
3   397.271486
4  1358.000000
5  2282.500000
6  2509.000000
7  2738.500000
8  4268.000000
             0
0    46.000000
1   642.000000
2   890.524922
3   172.616327
4   420.000000
5   776.250000
6   879.000000
7   999.000000
8  1540.000000
             0
0    50.000000
1   379.000000
2  1148.622691
3   205.393744
4   580.000000
5  1004.000000
6  1138.000000
7  1279.000000
8  1856.000000
             0
0   378.000000
1   353.000000
2  2860.019830
3   430.385375
4  1462.000000
5  2606.000000
6  2876.000000
7  3123.000000
8  4406.000000
             0
0   373.000000
1   243.000000
2  2558.872428
3   375.299511
4  1502.000000
5  2341.000000
6  2599.000000
7  2791.500000
8  4307.000000
             0
0   214.000000
1   192.000000
2   556.145833
3   119.783398
4   338.000000
5   472.250000
6   539.000000
7   616.250000
8  1017.000000
             0
0   377.000000
1   379.000000
2  2814.063325
3   396.684855
4  1499.000000
5  2597.000000
6  2827.000000
7  3041.000000
8  4457.000000
            0
0  228.000000
1  168.000000
2   66.113095
3   13.016537
4   37.000000
5   59.000000
6   61.000000
7   78.000000
8  112.000000
             0
0   375.000000
1   144.000000
2  2660.576389
3   411.796399
4  1479.000000
5  2425.750000
6  2676.500000
7  2877.750000
8  4026.000000
             0
0  2804.000000
1   285.000000
2  2741.568421
3   405.767287
4  1561.000000
5  2501.000000
6  2760.000000
7  3006.000000
8  4544.000000
             0
0   376.000000
1   127.000000
2  2779.362205
3   428.560949
4  1460.000000
5  2549.500000
6  2874.000000
7  3031.000000
8  3662.000000

In [271]:
b

Empty DataFrame
Columns: [StopID, count, mean, std, min, 25%, 50%, 75%, max]
Index: []